*{
    margin: 0;
    padding: 0;
}

.upper_page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*header*/

.header {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 75px;
    z-index: 1;
    border-bottom: 2px rgb(255, 255, 255, 0.5) solid;
    animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.archives .header a {
    text-decoration: none;
    color: white;
    opacity: 0.5;
}

.archives .header a:hover {
    text-decoration: none;
    color: white;
    opacity: 1;
    border-bottom: 1px white solid;
    animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
        border-bottom: 1px rgba(255, 255, 255, 0) solid;
    }
    to {
        opacity: 1;
        border-bottom: 1px white solid;
    }
}

.header img {
    width: 50%;
    height: 90%;
    object-fit: fill;
    margin-left: auto;
    margin-right: auto;
}

.left-header, .right-header, .center-header {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.left-header nav, .right-header nav {
    display: flex;
    width: 100%;
    height: 100%;
    padding-right: 10%;
}

.left-header nav ul, .center-header nav ul, .right-header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.left-header nav ul li, .center-header nav ul li, .right-header nav ul li{
    display: flex;
    margin: 5%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 30px;
}

.center-header {
    width: 20%;
}

.center-header nav {
    display: flex;
    width: 100%;
    height: 100%;
}

.right-header nav {
    padding-left: 10%;
    padding-right: 0;
}

/*upper image*/

.header-gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    background-color: black;
    z-index: -1;
}
/*Title*/
.archives-web-subtitle {
    color: wheat;
    font-size: 30px;
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.archives-search-bar-section {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.archives-search-bar {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
}

.archives-search-bar img {
    max-width: 20%;
    max-height: 100%;
}

.archives-search-bar input {
    width: 80%;
    height: 100%;
    padding: 0 1%;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

.archives-search-bar button {
    width: 10%;
    background-color: transparent;
    border: none;
    border-left: 1px solid black;
}

.search-bar:hover {
    justify-content: flex-start;
    animation: slide-left 1s forwards;
}

.archives-main-section {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.archives-main-content {
    padding-top: 10px;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
}

.archives-category-section {
    width: 20%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.archives-category-section h2 {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.archives-category-list {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.archives-category-list a {
    margin-bottom: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

.archives-section {
    width: 70%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
}

.archives-book-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.archives-book-card {
    margin-top: 10px;
    width: 18%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.archives-book-card img {
    width: 90%;
    height: 70%;
    object-fit: cover;
}

.book-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.archives-lower-page {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.archives-footer {
    margin-top: 3%;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.archives-footer-section {
    margin-top: 3%;
    width: 22%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 90%;
}

.archives-footer-section h1 {
    font-size: 90%;
    text-align: left;
}

.archives-footer-section li {
    font-size: 90%;
    list-style: none;
}

.archives-footer-logo {
    margin-left: 4%;
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.archives-footer-logo img {
    max-width: 30%;
}

.archives-footer-logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.archives-footer-logo-title {
    border-bottom: 1px solid black;
}

.archives-footer-logo-messege {
    display: flex;
    justify-content: center;
    align-items: center;
}