@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebas_neue/BebasNeue-Regular.woff2') format('woff2'),
         url('../fonts/bebas_neue/BebasNeue-Regular.woff') format('woff'),
         url('../fonts/bebas_neue/BebasNeue-Regular.ttf') format('truetype'),
         url('../fonts/bebas_neue/BebasNeue-Regular.otf') format('opentype'),
         url('../fonts/bebas_neue/ BebasNeue-Regular.eot'); /* For older IE */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PP Hatton';
    src: url('../fonts/hatton/PP\ Hatton\ Ultralight\ 200.otf') format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'PP Hatton';
    src: url('../fonts/hatton/PP\ Hatton\ Medium\ 500.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'PP Hatton';
    src: url('../fonts/hatton/PP\ Hatton\ Bold\ 700.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'TAN Meringue';
    src: url('/assets/fonts/TAN_Meringue/TAN MERINGUE.woff2') format('woff2'),
         url('/assets/fonts/TAN_Meringue/TAN MERINGUE.woff') format('woff'),
         url('/assets/fonts/TAN_Meringue/TAN MERINGUE.ttf') format('truetype'),
         url('/assets/fonts/TAN_Meringue/TAN MERINGUE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
}

.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section {
    margin: 0;
    padding: 0;
    height: 720px;
    z-index: 1;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 200; /* Ultralight */
}

.navbar-left-section {
    width: 45%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
}

.navbar-left-section a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}

.search-img {
    width: 13%;
}

.menu-img {
    width: 20%;
}


.navbar-right-section {
    width: 45%;
    height: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.navbar-right-section a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}

.website-title {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 10px;
    color: wheat;
}

.website-title h1 {
    font-family: 'PP Hatton', serif;
    font-size: 8rem;
    font-weight: 200; /* Bold */
}

.website-title p {
    font-family: 'PP Hatton', serif;
    font-size: 1.5rem;
    font-weight: thin; /* Medium */
}

.sec2 {
    margin-top: 50px;
}

.welcome-message-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-message {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 30px;
}

.welcome-message h1 {
    width: 50%;
    font-family: 'TAN Meringue', cursive;
    font-size: 5rem;
    font-weight: bold; /* Bold */
    color: #c0013d;
}

.welcome-message p {
    width: 50%;
    font-family: 'PP Hatton', serif;
    font-size: 1.5rem;
    font-weight: 0; /* Medium */
    color: wheat;
}

.sec3 {
    margin-top: 13%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.search-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
}

.search-bar input {
    width: 80%;
    height: 100%;
    padding-left: 1%;
    border: none;
    border-radius: 5px;
    font-family: 'PP Hatton', serif;
    font-size: 1rem;
    font-weight: thin; /* Medium */
    opacity: 0.7;
}

.search-bar button {
    width: 10%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: #5c3434;
    color: #e7f5c8;
    font-family: 'PP Hatton', serif;
    font-size: 1rem;
    font-weight: thin; /* Medium */
}

/* Upload Container */
.upload-container {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Upload Box */
.upload-box {
    width: 90%;
    height: 400px;
    background: rgba(50, 20, 20, 0.5); /* Dark transparent red */
    border: 2px dashed rgba(255, 0, 0, 0.5); /* Dotted red border */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.upload-box p {
    margin-top: 10px;
}

/* Upload Button */
.upload-button {
    width: 20%;
    height: 15%;
    background: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* Upload Message */
.upload-message {
    color: #F4E3C0; /* Soft yellowish font */
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}