*{
  margin: 0;
  padding: 0;
}

/* Apply animation to login section */
.signup-section {
  animation: slideUpFade 0.8s ease-out forwards;
}

.signup-page {
  width: 100%;  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.signup-section {
  width: 30%;
  height: 70%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 10px;
}

.signup-section p, .signup-section h1 {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-icons {
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.signup-section form {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.signup-section input {
  width: 90%;
  height: 10%;
  padding: 10px;
  border: 2px dashed rgba(0, 0, 0, 0.5); /* Dotted red border */
  border-radius: 5px;
  font-family: 'PP Hatton', serif;
  font-size: 1rem;
  font-weight: thin; /* Medium */
  opacity: 0.7;
}

.signup-section button {
  width: 90%;
  height: 20%;
  border: none;
  border-radius: 5px;
  background-color: #3f3f3f;
  color: white;
  font-family: 'PP Hatton', serif;
  font-size: 2rem;
  font-weight: thin; /* Medium */
}

.divert {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}